body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff; /* Fondo más claro */
    color: #f7f2f2; /* Texto más oscuro */
}
#game-container {
    text-align: center;
}
#game-board {
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    gap: 1px;
    background-color: #ccc;
    border: 1px solid #999;
}
.cell {
    width: 20px;
    height: 20px;
    background-color: #fff; /* Color de fondo de las celdas */
}
.snake {
    background-color: #000; /* Color de la serpiente */
}
.food {
    background-color: #f00; /* Color de la comida */
}